
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="" />
<meta name="keywords" content="" />
<title>HoMaShoMa</title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/jquery.dropotron.min.js"></script>
<script src="/javascripts/skel.min.js"></script>
<script src="/javascripts/skel-layers.min.js"></script>
<script src="/javascripts/init.js"></script>
