<nav id="nav2">
    <ul>
        <li><a href="#">LOGIN</a></li>
        <li><a href="./main/selectjoin">JOINUS</a></li>
        <li><a href="#">MY PAGE</a></li>
    </ul>
</nav>

<div id="header">
    <h1><a href="#" id="logo">HoMaShoMa</a></h1>

    <div class="search">
        <form name="searchform" method="post" action="#">
            <table class= 'search_table'> 
                <tr>
                <th> <input class = 'search_word' type='text' name='word' value=''> </th>
                <td> <input class = 'search_submit' type='button' value="search" onClick="searchcheck()"></td>
                </tr>
            </table>
        </form>
    </div>

    <nav id="nav">
        <ul>
            <li><a href="product.jsp">HOME</a></li>
            <li>
                <a href="clothes_ing.jsp">CLOTHES</a>
                <ul>
                    <li><a href="clothes_pre.jsp">판매예정</a></li>
                    <li><a href="clothes_ing.jsp">판매중</a></li>
                    <li><a href="clothes_com.jsp">판매완료</a></li>
                </ul>
            </li>
            <li>
              <a href="food_ing.jsp">FOOD</a>
              <ul>
                    <li><a href="food_pre.jsp">판매예정</a></li>
                    <li><a href="food_ing.jsp">판매중</a></li>
                    <li><a href="food_com.jsp">판매완료</a></li>
                </ul>
            </li>
            <li>
              <a href="decoration_ing.jsp">DECORATION</a>
              <ul>
                    <li><a href="decoration_pre.jsp">판매예정</a></li>
                    <li><a href="decoration_ing.jsp">판매중</a></li>
                    <li><a href="decoration_com.jsp">판매완료</a></li>
                </ul>
            </li>
            <li> 
              <a href="diy_ing.jsp">DIY</a>
              <ul>
                    <li><a href="diy_pre.jsp">판매예정</a></li>
                    <li><a href="diy_ing.jsp">판매중</a></li>
                    <li><a href="diy_com.jsp">판매완료</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
