<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../layout/head %>
</head>
<body class="mainpage">
    <header>
        <% include ../layout/header %>
    </header>
    <main>
        <div class="container">
            <form class='loginform' name=loginform method=POST action="#">
                <h4>MEMBER LOGIN</h4>
                <table class="a">
                    <tr>
                        <th>ID</th>
                        <td>
                            <input class="id" type="text" name="id" id="id">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </main>
    <footer>
        <% include ../layout/footer %>
    </footer>
</body>
</html>