<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../layout/head %>
</head>
<body class="mainpage">
    <header>
        <% include ../layout/header %>
    </header>
    <main>
        helloworld!
    </main>
    <footer>
        <% include ../layout/footer %>
    </footer>
</body>
</html>