<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../layout/head %>
</head>
<body class="mainpage">
    <header>
        <% include ../layout/header %>
    </header>
    <main>
        <div class="container">
            <div class="selectjoin">
                <a href="./selectjoin/joinbuyer">
                    <img src="images/1481393583_add-buy-plus-shopping-cart.png" width="40%">
                    <h4>BUYER</h4>
                </a>
                <a href="./selectjoin/joinseller">
                    <img src="images/images/1481393595_store-sign.png" width="40%">
                    <h4>SELLER</h4>
                </a>
            </div>
            
        </div>
    </main>
    <footer>
        <% include ../layout/footer %>
    </footer>
</body>
</html>